*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
}

/* INICIO header nav */

.header-nav-container{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 10px;
}
.logo-topo{
    font-family: 'Geostar Fill', cursive;
    color: #fff;
    /* font-size: 18px; */
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.logo:hover{
    font-size: 26px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition:  0.5s ease-in-out;
    -o-transition:  0.5s ease-in-out; 
}
.menu{
    word-spacing: 15px;
    color: #fff;
}
.menu a{
    display: inline;
    color: #fff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.btns-menu{
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.btns-menu:hover {
    background: #64bd00;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.btns-menu:active {
    background: #64bd00; 
}
/* FIM header nav */

/* ==================================================== */
/* ==================================================== */

/* INICIO hero banner */


