@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Geostar+Fill&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url(AOS/aos.min.css);

:root {
  --bg-cor-branco: #ffffff;
  --verde-rox: #64bd00;
  --verde-seg: #28a745;
  --verde-hero: #101815;
  --font-logo: "Geostar Fill", cursive;
  --font-body: "Roboto", sans-serif;

  background-color: var(--bg-cor-branco);
  font-size: 16px;
}
html {
  background-color: var(--bg-cor-branco);
  scroll-behavior: smooth;
}

.verde-rox {
  background-color: var(--verde-rox);
}

.navbar-logo {
  font-family: var(--font-logo);
  font-size: 1.5rem;
  color: var(--bg-cor-branco);
  font-weight: 600;
  letter-spacing: 1px;
}
.mask:hover {
  background-color: var(--verde-rox);
  transition: 0.5s ease-in-out;
}
.download-cv-btn {
  border: 2px solid var(--verde-rox);
  outline: none;
  border-radius: 50px;
}
.banner-hero {
  background-color: var(--verde-hero);
}

.alt {
  height: 48vw !important;
}
.avatar img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
}
.perfil h3 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 300;
}

.perfil h2 {
  font-family: serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 45px;
  letter-spacing: 1px;
}

.h2-perfil span {
  color: var(--verde-rox);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.prg {
  color: var(--bg-cor-branco);
  font-size: 15px;
  /* font-weight: 400; */
  /* letter-spacing: 1px; */
  /* line-height: 30px; */
  /* text-align: justify; */
}

.blue {
  color: blue;
  font-weight: 600;
}

.red {
  color: red;
  font-weight: 600;
}
#social .bi {
  color: white;
  margin: 0 30px 0 0;
  font-size: 20px;
}
#social .bi:hover {
  color: #64bd00;
  transition: 0.3s ease-in-out;
}
.btn_ {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 12px 34px;
  text-transform: uppercase;
  text-decoration: none !important;
}
.seta {
  font-size: 25px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: 0 auto;
  z-index: 9999999999999999999999;
  width: 30px;
  height: 30px;
  color: #ffffff;
  animation-name: seta;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.Titulos {
  font-family: "Roboto", sans-serif;
  font-size: calc(1.375rem + 1.5vw);
  margin: 0;
  text-align: center;
  font-weight: 300;
}
.Titulos::after {
  content: "";
  width: 150px;
  height: 5px;
  background-color: #64bd00;
  display: block;
  margin: 10px auto;
  border-radius: 50px;
}

/* teste botao  */

.btn-outline-success {
  color: var(--verde-rox);
  border-color: var(--verde-rox);
}
.btn-outline-success:hover {
  color: #fff;
  background-color: var(--verde-rox);
  border-color: var(--verde-rox);
  transition: 0.5s ease-in-out;
}

/* teste botao  */

.m-card {
  flex-basis: 100%;
  font-size: 13px;
  max-width: 500px;
  padding: 30px !important;
  margin-right: 12px !important;
  /* box-shadow: 0 0px 2px 0 rgb(0 0 0 / 25%), 0 0px 0px 0 rgb(0 0 0 / 20%) !important; */
}

.font-verde-rox {
  color: var(--verde-rox);
}

.destak {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--bg-cor-branco);
  background-color: var(--verde-seg);
  padding: 3px;
  border-radius: 4px;
}

a.link:hover {
  color: #28a745;
  text-decoration: underline;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

#servicos {
  background-color: #101815;
}

.service {
  text-align: center;
  color: #ffff;
}

.service i, .bi-router-fill::before {
  font-size: 35px;
  padding: 50px;
}

.service:hover > i, .service:hover > h4 {
  color: #64bd00;
}

.service i, .service h4 {
  transition: 0.5s;
}
.center {
  margin: 0 auto;
}
.footer {
  padding: 5px 0 30px;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
.footer-container {
  text-align: center;
}
.footer-logo h3 {
  font-family: var(--font-logo);
  color: var(--bg-cor-branco);
  margin-top: 30px;
}
.footer-logo > a {
  text-decoration: none;
}

.footer-copyright-design {
  font-size: 12px;
}
.copyright a {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}
.footer-social {
  display: flex;
  margin: 20px 0px;
  justify-content: center;
  transition: color 0.3s ease-in-out;
}
.footer-social > .bi {
  color: white;
}
.footer-social a {
  padding: 15px;
}
.footer-social a:hover {
  color: #64bd00;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}
.design {
  text-transform: uppercase;
}


@keyframes seta {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 991px) {
  .mbp {
    text-align: center;
  }
  .t {
    margin-top: 0.25rem;
  }
}
